<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>REPLACE_LABEL</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>REPLACE_DIR/run-digest.sh</string>
  </array>

  <!-- 08:07, 13:07 and 17:07, Monday to Friday. Off the hour on purpose. -->
  <key>StartCalendarInterval</key>
  <array>
      <dict>
        <key>Weekday</key><integer>1</integer>
        <key>Hour</key><integer>8</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>2</integer>
        <key>Hour</key><integer>8</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>3</integer>
        <key>Hour</key><integer>8</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>4</integer>
        <key>Hour</key><integer>8</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>5</integer>
        <key>Hour</key><integer>8</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>1</integer>
        <key>Hour</key><integer>13</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>2</integer>
        <key>Hour</key><integer>13</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>3</integer>
        <key>Hour</key><integer>13</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>4</integer>
        <key>Hour</key><integer>13</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>5</integer>
        <key>Hour</key><integer>13</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>1</integer>
        <key>Hour</key><integer>17</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>2</integer>
        <key>Hour</key><integer>17</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>3</integer>
        <key>Hour</key><integer>17</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>4</integer>
        <key>Hour</key><integer>17</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
      <dict>
        <key>Weekday</key><integer>5</integer>
        <key>Hour</key><integer>17</integer>
        <key>Minute</key><integer>7</integer>
      </dict>
    </array>

  <key>RunAtLoad</key>
  <false/>

  <key>StandardOutPath</key>
  <string>REPLACE_DIR/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>REPLACE_DIR/launchd.err.log</string>
</dict>
</plist>
